body{margin:0;padding:0;font-size:14px;color:#505050; font-family:微软雅黑; font-weight:normal;padding-right: 0 !important;overflow-y: inherit !important; }
div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, input, button,
textarea, p, table, th, td ,iframe{margin:0px;padding:0px; }
img{border:0;}
ul,li{list-style-type:none;}
:focus {outline:0;}
a {color:#fff;text-decoration:none;cursor: pointer;transition: all .3s}
a:hover {color:#ab0003;text-decoration:none;}
a:focus {text-decoration:none;}

.left{float: left;}
.right{float: right;}

 .content{width:100%;height: auto;background: #efefef;margin-top: -5px;padding-top: 23px;}
 .content_main {width: 1200px;margin:0 auto;}

.weixin_content{width: 86px;height: 98px;background: #fff;border: 1px solid #e0e0e0;display: none;position: absolute;}
.weixin_content img{width: 100%;height: 100%}

  /* 客服 */
 .service{position: fixed;right: 10px;z-index: 1020px;border:1px solid #e0e0e0;bottom: 146px;background: #efefef;}
 .service .service_li{width: 50px;height: 61px;position: relative;border-bottom: 1px solid #fff;cursor: pointer;}
 .service .zd{border-bottom: none;}
 .service_image{line-height: 30px;}
 .service_image img{padding-left: 15px;}
 .service p{color: #7d8292;text-align: center;font-size: 12px;}
 .code_main{width: 129px;height: 160px;background: #fff;border: 1px solid #e0e0e0;position: absolute;right: 51px;text-align: center;}
 .code_main img{width: 127px;height: 127px;}

 .code_cov{
            width:100%;
            height:100%;
            background-color:rgba(0, 0, 0, 0.5);
            z-index:1000;
            display:none;
            position:absolute;
            left: 0;
            top: 0;
            text-align:center;
            font-size: 16px;
            box-shadow:0px 0px 5px black;
        }
        .code_con{
            z-index:1100;
            width:auto;
            height:auto;
            background-color:white;
            position:fixed;
            right:40%;
            top:30%;
            box-shadow: 0px 0px 15px black;
        }
/*右侧的医械人*/
.person{border-bottom: 1px solid #e5e5e5;cursor: pointer}
.person_head{height: 80px;width: 55px}
.person_content{width: 150px;height: 80px;margin-left: 10px;}
.person_main{padding: 0 15px;}
.person_top{}
.person_bottom{display: none}
.person_head img{width: 55px;height: 55px;border-radius: 50%;margin-top: 12.5px;}
.person_content h4{font-size: 16px;color: #f39800;font-weight: 700;margin-top: 12px;}
.person_content p{text-overflow: ellipsis;white-space:nowrap;overflow:hidden;color: #808080 }
.person h3{font-size: 18px;color: #9fa0a0;text-align: center;line-height: 80px;}
.person_bottom p{color: #348efd;text-align: center;}
.qrcode{width: 116px;height: 116px;background: rgba(255,255,255,0.8);margin:10px auto;padding: 8px;border: 1px solid #348efd;box-shadow: #348efd 0 0 5px}
/*没有医械人*/
.none_person_head{width: 55px;height: 80px;}
.none_person_head img{width: 55px;height: 55px;margin-top: 12.5px;}
.none_person_content {width: 150px;height: 80px;margin-left: 10px;}
.none_person_content h4{font-size: 14px; color: #808080;font-weight: 700;margin-top: 12px;}