@charset "utf-8";
body, dl, dt, dd {
	padding:0px;
	margin:0px;
}
/*主要css样式*/
#lr_systembox {
	width:980px;
	height:50px;
	background-color:#CCC;
	position:relative;
	margin:0 auto;
	z-index:100000;
}
.lr_systembtn {
	width:190px;
	height:44px;
	line-height:44px;
	position: relative;
}
.lr_systembtn .lr_abtn {
	width:100%;
	height:44px;
	display:block;
	font-size:15px;
	font-weight:bold;
	color:#fff;
	text-decoration: underline;
	text-align: center;
}
.lr_systembtn .lr_abtn:hover {
	color:#fff;
	background-position:left bottom;
}
.lr_menu {
	width:184px;
	padding:8px 6px 8px 6px;
	background-color:#ffffff;
	border:#ACACAC solid 2px;
	filter:alpha(opacity=90);
	opacity: 0.90;
	position:absolute;
	top:35px;
	right:0px;
	z-index:100005;
	display:none;
}
.lr_menu dl {
	width:100%;
	display:block;
	overflow:hidden;
}
.lr_menu a {
	width:100%;
	display:block;
	color:#666666;
	border-bottom:#ACACAC dashed 1px;
	height:30px;
	line-height:30px;
	font-size:14px;
	background-image: url(../images/jt1.gif);
	background-repeat:no-repeat;
	background-position:6px center;
}
.lr_menu a:hover {
	background-color:#E2E2E2;
	color:#333333;
	text-decoration:none;
}
.lr_menu dt {
}
.lr_menu dt a {
	font-weight:bold;
	text-indent:14px;
}
.lr_menu dd a {
	text-indent:24px;
	background-position:16px center;
}

