.main_left{width: 245px;height: 740px;background: #fff;border: 1px solid #e0e0e0;}
.main_right{width: 933px;height: 740px;display: inline-block;background: #fff;border: 1px solid #e0e0e0;}
.user-box-top{padding: 10px 20px;}
.no-pic{border: 1px solid #e0e0e0;line-height: 72px;background: #fff;font-size: 40px;}
.user-pic{margin: auto;width: 72px;height: 72px;border-radius: 50%;color: #e0e0e0;}
.head-img{width: 72px;height: 72px;border-radius: 50%;}
.mobile{font-size: 18px;text-align: center;padding-top: 10px;padding-bottom: 10px;}
.user-body{padding: 20px 32px;}
.body-head{border-bottom: 1px solid #e0e0e0;height: 33px;color: #737373;}
.blueborder{padding-bottom: 8px;font-size: 17px;color: #202020;cursor: pointer;margin-right: 40px;}
.bgContent{padding-top: 30px;height: 660px;}
.bluetip{border-bottom: 2px solid #0084ff;color: #337ab7;font-weight: bold;}
.search_div {width: 300px;margin-top: -10px;}
#audit_table{width: 100%;}
tr{height: 35px;border-bottom: solid 1px lightgrey;}
th,td{text-align: center;font-weight: initial;}
th{ background-color: #ebf2fa;}
.no_audit,.audit_reject{color: red;}
.audit_through,.audit_adopt{color: blue;}
.page{margin-top: 20px;  text-align: center;}

.audit_td_img{width: 50px;cursor: pointer;}
.audit_table_tr td{padding-top: 10px;padding-bottom: 10px;width: 16.5%;}
.company_table_tr td{padding-top: 10px;padding-bottom: 10px;width: 14.2%;}
.audit_name_div{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 200px;}
.audit_td_a{color: blue;}
.audit_td_a:hover{color: #0fbbe9;}
.audit_td_recall{color: red;margin-top: 4px;}
.audit_td_recall:hover{cursor: pointer;color: #ff5050;}
.audit_td_reason{color: #0D9BF2;margin-top: 4px;}
.audit_td_reason:hover{cursor: pointer;color: #0fbbe9;}

.item{background-color: #f2f2f2;border:1px solid #e6e6e6;padding: 10px 30px;margin-bottom: 20px;}
.item a{color:#337ab7;float: right;margin-right: 280px;}
.item .time{float: right}

#audit_table th{width: 16.5%}
#company_table th{width: 14.2%}

#pic{position: absolute; display: none;}
#pic1{ width: 300px; height: 300px; border-radius: 5px; -webkit-box-shadow: 5px 5px 5px 5px hsla(0,0%,5%,1.00); box-shadow: 5px 5px 5px 0px hsla(0,0%,5%,0.3); }
.list-group-item.active{background: #e0e0e0;color: #337ab7;border: none}